@font-face {
    font-family: 'madshrew';
    src: url('../fonts/madshrew-webfont.woff2') format('woff2'),
         url('../fonts/madshrew-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.nav a {
	font-family: 'madshrew';
  color: black;
  font-size: 36px;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.header {
  height: 100px;
	text-align: center;
}


.header h1 {
  color: black;
  font-size: 72px;
  font-family: 'madshrew';
}


.gallery-grid {
    background-color: white;
		border-top: 10px solid white;
    border-bottom: 10px solid white;
}

.thumbnail {
	border: black 1px solid !important;
	margin: 5px;
}

.container {
	padding: 30px;
}
